<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Blog</title>
</head>
<body style="background-color: rgb(234, 234, 234);">
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-4 p-4 border border-dark rounded-3 bg-white">
        <h1 class="text-center mb-4"><%= blog.title %></h1>
        <img src="<%= blog.coverImageUrl %>" class="img-fluid rounded mb-4" alt="Blog Cover Image">
        <p class="lead"><%= blog.body %></p>
    </div>

    <div class="container mt-4 text-center">
        <img src="<%= blog.createdBy.profileImageURL %>" width="80" class="rounded-circle" alt="Author Profile Image"> 
        <h5 class="mt-2">
            <%= blog.createdBy.fullName %> <br> 
            <small class="text-muted"><%= blog.createdBy.createdAt.toLocaleDateString() %></small>
        </h5>
    </div>

    <% if (locals.user) { %>
    <div class="container mt-4">
        <h3>Leave a Comment</h3>
        <form action="/blog/comment/<%= blog._id %>" method="post">
            <div class="mb-3">
                <input type="text" placeholder="Enter your comment..." class="form-control" id="content" name="content" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
    <% } %>

    <div class="container mt-4 p-4 bg-white rounded-3 mb-4">
        <h3>Comments ( <%= comments.length %> )</h3>
        <% comments.forEach(comment => { %>
            <div class="d-flex align-items-start mb-3 border-bottom pb-3">
                <img src="<%= comment.createdBy.profileImageURL %>" width="50" class="rounded-circle me-2" alt="Commenter Profile Image" style="object-fit: cover;">
                <div>
                    <p class="mb-1">
                        <a href="/user/<%= comment.createdBy?._id %>" class="text-decoration-none text-dark"><%= comment.createdBy.fullName %></a>
                    </p>
                    <pre class="bg-light p-2 rounded border mb-1" style="white-space: pre-wrap;"><%= comment.content %></pre>
                    <small class="text-muted">
                        <%= new Date(comment.createdAt).toLocaleString() %>
                    </small>
                </div>
            </div>
        <% }) %>
    </div>
    

    <%- include('./partials/scripts.ejs') %>
</body>
</html>
